.introduction {
  padding-top: 5rem;
  margin: 0 auto;
  max-width: 400px;
}

.introduction__icon {
  position: relative;
  left: -10px;
  width: 100px;
  height: 100px;
}

.introduction__content {
  margin-bottom: 2rem;
}
