.introduction {
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin: 0 auto;
  max-width: 400px;

  @media screen and (min-width: 480px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.introduction__icon {
  position: relative;
  left: -10px;
  width: 100px;
  height: 100px;
}

.introduction__content {
  margin-bottom: 2rem;
}
