.remaining-attempts-display {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 2px;
}
