* {
  box-sizing: border-box;
  --primary: #{$primary};
  --hint: #{$hint};
  --surface: #{$surface};
  --darksurface: #{$darksurface};
  --white: #{$white};
  --lightgreen: #{$lightgreen};
  --red: #{$red};
  --border-radius: #{$border-radius};
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface);
  line-height: 1.5;
}

body,
input,
textarea,
button,
select {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
}


button {
  cursor: pointer;
}

h1,
h2 {
  line-height: 1.2;
}

h2 {
  font-size: 1.2rem;
}

p a {
  text-decoration: underline;
  color: inherit;
}
