.flex { display: flex; }

.align-center { align-items: center; }

.justify-center { justify-content: center; }
.justify-between { justify-content: space-between;}

.text-center { text-align: center; }

.flex-column { flex-direction: column; }

.color-hint { color: var(--hint); }

.font-bold { font-weight: 700;}
