.keyboard {
  list-style: none;
  margin: 0 -1rem;
  padding: 0;
}

.keyboard__row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.keyboard--disabled {
  pointer-events: none;
}
