.app {
  padding: 1rem;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.app__main {
  padding: 1rem;
}

.app__buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app__buttons button:first-of-type {
  margin-bottom: 1rem;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
