.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.app__main {
  padding-bottom: 3rem;
}

.app__buttons {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app__buttons button:first-of-type {
  margin-bottom: 1rem;
}

.app__footer {
  text-align: center;
  background-color: var(--darksurface);
  margin-top: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.app__footer-content {
  margin-top: 2rem;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}
