* {
  box-sizing: border-box;
  --primary: #09132D;
  --surface: #F9F8FF;
  --white: #ffffff;
  --lighrgreen: #9df2ed;
  --red: #ff7a7a;
  --border-radius: 4px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--surface);
}

button {
  cursor: pointer;
}
